body {
    margin:  0 auto;
    font-family: Oswold;
    font-size: 1.2em
}

.test {
    background-color: green;
    color: white;
}

.check {
    border: 5px solid green;
}

.fullwidth {
    width: 100vw;
}

.navbar-brand {
    max-width: 20%;
    text-align: left;
    transform: translateX(-10%);
}

.navbar-brand img {
    max-width: 100%; /* 25% */
    height: auto;

}

.drop {
    text-align: center;
    
}


.color3 {
    background-color: blue;
    position: absolute;
    height: 25%;
    
}

.color4 {
    background-color: #2BBBAD;
}

.color1 {
    background-color: #80643D;  /* #80643D */
    height: 50%;
}

.color2 {
    background-color: #2BBBAD;
    border-radius: 0 0 40px 40px;
    height: 50%;
}  

.whitetext {
    color: white;
    text-align: center;
}

.nothoverwhitetext {
    color: white;
    text-align: center;
}

.whitetext:hover {
    font-size: 1.5em;
    padding: .05rem 0rem;
    color: #00695c;
    text-decoration: none;
}

.whitetext:visited {
    border-bottom: 10px solid white;
}

.whitelogin {
    color: white;
    background-color: #00685c;
    border-radius: 7px;
}

.whitelogin:hover {
    background-color: #624C3F;
    color: white;
    padding: .05rem .09rem;
    font-size: 1.5em;
}

.roomrow {
    width: 120%;
}

.room {
    width: 100%;
    height: auto;
    position: absolute;
}
.marge-top {
    margin-top: 50%;
    padding: 2%;
}

.product {
    font-size: 3em;
    font-style: bold;
}

.weird {
    background-color: #2BBBAD;
}

.spechonvercolornobig {
    color:white;
    text-align: center;
}
.spechonvercolornobig:hover {
    color: #00695c;
    text-decoration: none;
}

.well-contain {
    max-width: 1%;
}

.well {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .body {
      font-size: 50%;
    }
}
